*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(56, 56, 216);
    display: flex;
    justify-content: center;
}
.maindiv{
    height: 110px;
    width: 554px;
    background-color: black;
    border-radius: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.age{
    width: 554px;
    height: 100px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
}
.total{
    margin-top:200px;
}

